body {
  background: white;
}

.hero-title {
  padding-top: 5rem;
}
.project-list {
  list-style-type: none;
  /* border: 2px solid black; */
  text-align: center;
  padding: 0.1rem;
}
.project-list li {
  /* border: 2px solid black; */
  padding: 0.5rem;
  /* margin: 1rem; */
  /* text-align: center; */
}
.container-project {
  /* border: 2px solid black; */
  padding: 0.5rem;
  /* margin-top: 0.1rem; */
}
.container-project h2 {
  /* border: 2px solid black; */
  margin-top: 0.1rem;
}
.one,
.three,
.five {
  background: var(--color-sectionBg);
}

.container-project a {
  /* border: 2px solid black; */
  background: var(--color-primary);
  padding: 0.5rem;
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0.5rem;
  margin: 0.5rem;
}
.project-list a:hover {
  background: var(--color-secondary);
}
