* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* margin: 1rem; */
  margin: 20px;
  background-color: tan;
}
nav {
  background-color: cornflowerblue;

  display: flex;
  /* flex-direction: column; */
  margin-bottom: 10px;

  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

nav h2 a {
  color: white;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
}

nav h2 a:hover {
  color: chartreuse;
}

nav ul li {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}
nav ul li a {
  padding: 20px;
  text-decoration: none;
  color: antiquewhite;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
nav ul li a:hover {
  color: yellow;
  text-transform: uppercase;
}

.main {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 20px;
}

.aboutMe {
  padding-top: 20px;
  line-height: 25px;
}
.heading {
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  margin: 80px;
}
section {
  /* border: 2px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
section .projectsName h3 {
  /* border: 1px solid black; */
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}
section .projectsName h2 {
  /* border: 1px solid black; */
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
}
section .projectsName p {
  /* border: 1px solid black; */
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}
section .projectsName .link {
  text-align: center;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
section .projectsName .link a {
  color: black;
  border: 2px solid black;
  text-align: center;
  border-radius: 20px;
  background-color: tomato;
  font-size: 18px;
  margin-left: 30px;
  padding: 7px;
  text-align: center;
  text-decoration: none;
}
section .projectsName .link a:hover {
  color: white;
  border: 2px solid white;
  background-color: seagreen;
}
